{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Book Content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/wiki.css' %}">
    <script src="https://kit.fontawesome.com/7f0d38f651.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #490B3D;">
    <div class="boks">
        <div class="konten">
            <img src="{{ current_profile.profileimg.url }}" alt="">
            <form action="#">
                <label for="#" class="buat">Cari Buku</label>
                <br>
                <input type="text">
            </form>
        </div>
    </div>
    <div class="kontainer">
        <a href="{% url 'wiki' id=current_profile.id_user %}" style="text-decoration: none;"><h3 class="logo" style="color: white;">Social Pedia</h3></a>
        <div class="new_book">
            <a href="{% url 'make_book' %}" style="color: white; text-decoration: none;">Make New Book</a>
            <a href="/" style="color: white; text-decoration: none;">Main Page</a>
        </div>
    </div>
    <div class="latar">
        <div style="margin-bottom: 20px; display: flex; justify-content: space-between; padding: 20px; width: 600px; align-items: center;">
            <h2 style="color: white;">{{ book.book_title }}</h4>
            <a href="{% url 'make_content' title=book.book_title %}" style="text-decoration: none;" class="new_content">Make new content</a>
        </div>
        {% if contens %}
            {% for content in contens %}
                <div class="daftar">
                    <div>
                        <h3>{{ content.title }}</h3>
                        <h5>by {{ content.author }}</h5>
                    </div>
                    <a href="{% url 'content_read' content=content.title %}" style="text-decoration: none; color: black;"><i class="fa-solid fa-book-open" style="font-size: 20px;"></i></a>
                </div>
            {% endfor %}
        {% else %}
            <h3>Kamu belum punya konten apa pun!</h3>
        {% endif %}
    </div>
    
 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>